---
sidebar_position: 51
# id: my-doc-id
# slug: /alternate-build-mingw-gnu
title: PLC Testing Results
# description: My document description
---

Please add your testing results here.

| Date | PLC Model | CPU Type | OS  | Compiler | Result | Tester |
| ---- | --------- | -------- | --- | -------- | ------ | ------ |
| 12/16/15 | ControlLogix5555 (1756-L55/A) | LGX | Windows 7 x64 SP1 | MS VS2015 Express | **Working** | thatcadguy |
| 12/16/15 | ControlLogix5555 (1756-L55/A) | LGX | Lubuntu 15.10 x32 | GCC 5.2.1 | **Working** | thatcadguy |
| 12/16/15 | ControlLogix5555 (1756-L55/A) | LGX | Lubuntu 15.10 x32 | Clang 3.6.2 | **Working** | thatcadguy |
| 12/16/15 | CompactLogix L23E (1769-L23E-QB1B) | LGX | Windows 7 x64 SP1 | MS VS2015 Express | **Working** | thatcadguy |
| 12/16/15 | CompactLogix L23E (1769-L23E-QB1B) | LGX | Lubuntu 15.10 x32 | GCC 5.2.1 | **Working** | thatcadguy |
| 12/16/15 | CompactLogix L23E (1769-L23E-QB1B) | LGX | Lubuntu 15.10 x32 | Clang 3.6.2 | **Working** | thatcadguy |
| 12/16/15 | SLC-5/05 (1747-L553/C) | SLC | Windows 7 x64 SP1 | MS VS2015 Express | **Working** | thatcadguy |
| 12/16/15 | SLC-5/05 (1747-L553/C) | SLC | Lubuntu 15.10 x32 | GCC 5.2.1 | **Working** | thatcadguy |
| 12/16/15 | SLC-5/05 (1747-L553/C) | SLC | Lubuntu 15.10 x32 | Clang 3.6.2 | **Working** | thatcadguy |
| 12/16/15 | MicroLogix 1100 (1763-L16BWA) | SLC | Windows 7 x64 SP1 | MS VS2015 Express | **Working** | thatcadguy |
| 1/5/16 | ControlLogix5555 (1756-L55/A) | LGX | Ubuntu 14.04 LTS ARMv7-A | GCC 4.8.4 | **Working** | thatcadguy |
| 1/5/16 | SLC-5/05 (1747-L553/C) | SLC | Ubuntu 14.04 LTS ARMv7-A | GCC 4.8.4 | **Working** | thatcadguy |
| 3/25/16 | CompactLogix L32E (1769) | LGX | Raspbian Wheezy from 2015-05-05 on Raspberry Pi-2 | GCC 4.6.3 | **Working** | mario.reif |
| 3/31/16 | ControlLogix5571 (1756-L71) | LGX | Windows 10 IoT 10.0.14232 on Raspberry Pi 3  | VS 2015 Community | **Working** | jesseruley |
| 11/11/16 | ControlLogix5555 (1756-L55/A) | LGX | Lubuntu 16.04.1 LTS x64 | GCC 5.4.0 | **Working** | thatcadguy |
| 11/11/16 | ControlLogix5555 (1756-L55/A) | LGX | Lubuntu 16.04.1 LTS x64 | Clang 3.8.0 | **Working** | thatcadguy |
| 11/17/16 | MicroLogix 1400 (1766-L32BXB) | MLGX | Lubuntu 16.04.1 LTS x64 | GCC 5.4.0 | **Working** | thatcadguy |
| 11/17/16 | MicroLogix 1400 (1766-L32BXB) | MLGX | Lubuntu 16.04.1 LTS x64 | Clang 3.8.0 | **Working** | thatcadguy |
| 2/8/17 | ControlLogix5573 (1756-L73) | LGX | Windows 7 x64 SP1  | VS 2015 Community | **Working** | AbrhmSanchez |
| 5/1/2018 | CompactLogix L16ER (1769-L16ER/B) | LGX | Gentoo default/linux/amd64/17.0 | GCC 6.4.0 | **Working** | JiGDk7Jb4XpiF25SQ |
| 6/3/18 | CompactLogix1769 L30ERMS | LGX | Windows 7 x64 SP1  | VS 2017 Community | **Working** | tcwang |
| 7/11/2018 | GuardLogix 5570 (1756-L72S) | LGX | Windows 10 Enterprise x64 | VS 2017 Community | **Working** | keith-jones |
| 10/1/2018 | ControlLogix 5580 (1756-L82ES) | LGX | Linux Mint / Windows 10 Profesional x64 | VS Code / VS 2017 Professional | **Working** | franklupo (Mavert Mario Averoldi)|
| 11/1/2018 | CompactLogix 5318 (1769-L18) | LGX | Windows 7 Enterprise x64 SP1 | VS 2017 Community (using C# Wrapper) | **Working** | jaywha |
| 1/5/2019 | MicroLogix 1400 (1766-L32BXB) | MLGX | Debian GNU/Linux 9 (via WSL on Windows 10 x64) | GCC 6.3.0 | **Working** | thatcadguy |
| 1/5/2019 | MicroLogix 1400 (1766-L32BXB) | MLGX | Debian GNU/Linux 9 (via WSL on Windows 10 x64) | Clang 3.8.1 | **Working** | thatcadguy |
| 1/5/2019 | MicroLogix 1400 (1766-L32BXB) | MLGX | Debian GNU/Linux 9 (ARMv7) | GCC 6.3.0 | **Working** | thatcadguy |
| 1/5/2019 | MicroLogix 1400 (1766-L32BXB) | MLGX | Debian GNU/Linux 9 (ARMv7) | Clang 3.8.1 | **Working** | thatcadguy |
| 10/19/2020 | ControlLogix 5561 (1756-L61 B) | LGX | Yocto Zeus/Linux 4.14 (ARMv8) | GCC 9.2.0 | **Working** | jadamroth |
| 3/11/2021 | Compact GuardLogix 5380 (5069-L310ERS2) | LGX | Windows 8 & Windows 10 | VS 2019 Community | **Working** | Kevin138 |